{%- set ns = namespace(query='', document='', image=false) -%}
{%- for message in messages -%}
  {%- if message.role in ['query', 'document'] -%}
    {%- if message.content is string -%}
      {%- if message.role == 'query' -%}{%- set ns.query = message.content | replace('<image>', '') -%}
      {%- else -%}{%- set ns.image = '<image>' in message.content -%}{%- set ns.document = message.content | replace('<image>', '') -%}{%- endif -%}
    {%- else -%}
      {%- for part in message.content -%}
        {%- if part.type == 'text' -%}
          {%- if message.role == 'query' -%}{%- set ns.query = part.text -%}
          {%- else -%}{%- set ns.document = part.text -%}{%- endif -%}
        {%- elif part.type in ['image', 'image_url'] and message.role == 'document' -%}
          {%- set ns.image = true -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{{- ('<image> ' if ns.image else '') + ('question:' + ns.query + ' \n \n passage:' + ns.document if (prompt_template | default('v1')) == 'v1' else ns.query + ' \n ' + ns.document) -}}
